<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

</table>
<%= encrypt('yehia') %>
<br />

<%= link_to 'New User', new_user_path, :class => "btn btn-green" %>